

.card{
    margin: 10px 0px;
    transition: all .2s ease;
    border-radius: 20px;

}

.card:hover{
    transform: scale(1.0125);
    box-shadow: 3px 3px 2rem  rgba(0,0,0,0.5);
}


img{
   height: 300px;
    width: 300px;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.card-info{
 padding: 25px ;
 width: 300px;
}


